* {
    @import url('Https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700,800;900&display=swap');
    font-family: Poppins, sans-serif;
}
body {
    background: linear-gradient(-90deg, green, blue, tan, green, black);
    background-size: 400% 400%;
    animation: gradientBG 7s ease infinite;
    min-height: 100vh;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* below lies the styling for the drop down nav menu */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
#navMenu {
    color: white;
}

/* below lies the styling for the main content */
#banner{
    color: white;
    padding-top: 30px;
    font-size: 25px;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_content > div{
    width: 225px;
    height: auto;
    padding: 55px;
    border: 10px;
    margin: 60px;
    background-color: transparent;
    box-shadow: 20px 20px 15px rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#frontend_box{
    text-align: center;
}
/* slide in styling for the body lies below */

/* @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
}
.main_content {
    animation: slide-in 2000ms;
    animation-timing-function: linear;
  } */

/* below lies the styling for the portfolio title */
.main_content > h1 {
    color: white;
    opacity: 50%;
}
/* #box_title_two{
} */
.empty{
    width: auto;
    height: 100px;
}
/* styling for the buttons */
.main_buttons {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 20px;
}
.button:hover {
    box-shadow: 0 12px 45px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
}


#portfolio_imgs{
    width: 100%;
}
.uiux_img{
    padding:10px;
    padding-top: 20px;
}
.griot_img{
    padding-top: 30px;
}
.be_img{
    padding-top: 18px;
}
.data_img{
    padding-top: 18px;
}



#first_box_text{
    padding-top: 15px;
    text-align: center;
}
#second_box_text{
    padding-top: 25px;
    text-align: end;
}






/* now for the end footer strip with my brief information */
.footer_end_strip_parent{
    width: 100%;
    color: white;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* styling for bottom strip where name is  */
#footer_name{
    color: white;
    font-size: 20px;
    width: 100%;
} 



/* now for the end footer strip with my brief information */
.footer_end_strip_parent {
    width: 100%;
    color: white;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
}

/* styling for bottom strip where name is  */
#footer_name {
    color: white;
    font-size: 17px;
    width: 100%;
}